<div class="col-12">
    <h1><%= @post.title %></h1>

    <p><%= @post.content %></p>

    <p>Published date : <%= @post.published_date %></p>

    <%= image_tag @post.picture.url %>

    <div class="post-controls">
        <% if current_user == @post.user %>
        <%= link_to "Edit", edit_post_path(@post), :class => "btn btn-primary" %>
        <%= link_to 'Delete', post_path(@post), :class => "btn btn-danger",
        method: :delete,
        data: { confirm: 'Are-you sure ?' } %>
        <% end %>
    </div>

    <div class="comment-list">
        <% @post.comments.each do |comment| %>
        <div>
            by <span class="comment-author"><%= comment.user.fullname %></span>
            <p><%= comment.content %></p>
        </div>
        <% end %>
    </div>

    <% if current_user %>
    <%= form_for @comment, :url => new_posts_comment_path do |form| %>
    <div class="form-group">
        <%= form.label :content, 'Comment' %>
        <%= form.text_area :content, :class => "form-control" %>
    </div>

    <div class="form-group">
        <%= form.submit :class => "btn bg-dark text-white" %>
    </div>
    <% end %>
    <% end %>
</div>
