<!DOCTYPE html>
<html>
<head>
    <title>RubyBlog</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">RubyBlog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <%= link_to '<i class="fa fa-home" aria-hidden="true"></i> Home'.html_safe, root_path, :class => "nav-link" %>
                </li>
                <% if user_signed_in? %>
                <li class="nav-item">
                    <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i> New Post'.html_safe, new_post_path, :class => "nav-link" %>
                </li>
                <% end %>
            </ul>

            <ul class="navbar-nav navbar-right">
                <% if user_signed_in? %>
                <li class="nav-item">
                    <%= link_to '<i class="fa fa-user" aria-hidden="true"></i> Profil'.html_safe, edit_user_registration_path, :class => "nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to '<i class="fa fa-sign-out" aria-hidden="true"></i> Logout'.html_safe, destroy_user_session_path, :method => :delete, :class => "nav-link" %>
                </li>
                <% else %>
                <li class="nav-item">
                    <%= link_to 'Login', new_user_session_path, :class => "nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to 'Register', new_user_registration_path, :class => "nav-link" %>
                </li>
                <% end %>
            </ul>
        </div>
    </nav>

    <div class="container">
        <%= yield %>
    </div>
</body>
</html>
